*{
    text-align: center; 
    font-family: 'Amatic SC', cursive;
    font-size: 25px; 
}

h1{
    font-size: 65px;
}

button, div, form, input {
      margin: 10px;
    }

body{
    background-image: url(../images/babypolar.jpg);
    
}